.base {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  transform: translate(0.5px, 0.5px);
}

.wrap {
  stroke: #0089ff;
}

.arrow {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linecap: round;
}

.triangle {
  fill: #fff;
}
